body.block-editor-page .editor-block-list__layout .editor-block-list__block {
  max-width: 700px;
}

body.block-editor-page .edit-post-visual-editor .editor-block-list__block[data-align=full] {
  max-width: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

ul.wp-block-gallery {
  margin-left: 0;
}

.editor-block-list__layout h1,
.editor-block-list__layout h2,
.editor-block-list__layout h3,
.editor-block-list__layout h4,
.editor-block-list__layout h5,
.editor-block-list__layout h6,
.editor-post-title__block .editor-post-title__input {
  color: #191919;
  font-family: 'Work Sans', 'sans-serif';
}

.editor-block-list__layout,
.editor-block-list__layout .editor-block-list__block {
  font-family: 'Work Sans', 'sans-serif';
  color: #595959;
}

blockquote.wp-block-quote:not(.is-large):not(.is-style-large) {
  background-color: #f7f7f7;
  padding: 25px;
  margin-bottom: 10px;
  border-left: 2px solid #cbd1dc;
}

.block-library-list .editor-rich-text__tinymce ul, .block-library-list .editor-rich-text__tinymce ol {
  margin: 0 0 15px 15px;
  padding-left: 20px;
}

.block-library-list .editor-rich-text__tinymce ul {
  list-style: disc;
}

.block-library-list .editor-rich-text__tinymce ol {
  list-style: decimal;
}

.block-library-list .editor-rich-text__tinymce li > ul,
.block-library-list .editor-rich-text__tinymce li > ol {
  margin-bottom: 0;
  margin-left: 15px;
}