input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	color: $color__text-input;
	border: 1px solid #ebebeb;
	border-radius: 0;
	padding: 15px 20px;

	&:focus {
		color: $color__text-input-focus;
	}
}

textarea {
	width: 100%;
}
